.tips,body {
    text-align: center
}

html {
    font-size: 62.5%;
    font-family: 'helvetica neue',tahoma,arial,'hiragino sans gb',Simsun,sans-serif
}

blockquote,body,button,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul {
    margin: 0;
    padding: 0
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-family: arial,'hiragino sans gb','microsoft yahei',Simsun,sans-serif
}

li {
    list-style: none
}

a:link,a:visited {
    text-decoration: none
}

body {
    font-size: 12px;
    line-height: 1.333
}

.centers {
    margin: 10px auto;
    width: 1000px
}

.searchs {
    display: inline-block;
    margin: 10px auto;
    border: 3px solid #efefef;
    border-radius: 2px;
    color: #555
}

.searchs .from {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    border: 3px solid #ccc;
    border-width: 1px
}

.searchs .text {
    display: inline;
    padding: 4px 20px;
    width: 420px;
    height: 34px;
    outline: 0;
    border: none;
    background: #FFF;
    color: #333;
    font-size: 16px;
    line-height: 34px
}

.searchs .button {
    display: inline;
    overflow: hidden;
    padding: 0 20px;
    height: 42px;
    border: 3px solid #d7d7d7;
    border-width: 0 0 0 1px;
    background: #fdfdfd;
    background: -webkit-linear-gradient(top,#fff,#f7f7f7);
    background: -moz-linear-gradient(top,#fff,#f7f7f7);
    background: -ms-linear-gradient(top,#fff,#f7f7f7);
    background: -o-linear-gradient(top,#fff,#f7f7f7);
    background: linear-gradient(top,#fff,#f7f7f7);
    color: #353535;
    font-weight: 400;
    font-size: 18px;
    font-family: "Microsoft Yahei","΢���ź�";
    cursor: pointer
}

.logos_lists .wait,.logos_lists dl dd,.logos_lists h4 {
    font-size: 14px;
    font-family: "Microsoft Yahei","΢���ź�"
}

.tips {
    padding: 20px 10px;
    font-family: "Microsoft Yahei","΢���ź�"
}

a img,img {
    max-height: 450px;
    border: 0
}

.logos_lists h4 {
    padding: 10px 0;
    text-align: left;
    color: #666;
    font-weight: 400
}

.logos_lists dl {
    float: left;
    position: relative;
    padding: 16px 14px;
    margin: 10px;
    background: #fff;
    border: 1px solid #ededed;
    border-radius: 5px;
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s
}

.logos_lists dl:hover {
    border-color: rgba(82,168,236,.8);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6)
}

.logos_lists dl dt img {
    width: 110px
}

.logos_lists dl dd {
    display: none;
    color: #262626
}

.logos_lists .wait {
    float: left;
    margin: 10px;
    padding: 26px 14px;
    color: #999
}

.head-v3 {
    position: relative;
    z-index: 100;
    min-width: 1000px
}

.head-v3 .navigation-inner {
    position: relative;
    margin: 0 auto;
    width: 980px
}

.navigation-up {
    height: 60px;
    background: #00b7ee
}

.navigation-up .navigation-v3 {
    float: left;
    margin-left: 155px
}

.navigation-up .navigation-v3 ul {
    float: left
}

.navigation-up .navigation-v3 li {
    float: left;
    color: #fff;
    font: 400 16px/59px "microsoft yahei"
}

.navigation-up .navigation-v3 .nav-up-selected,.navigation-up .navigation-v3 .nav-up-selected-inpage {
    background: #6fd3f1
}

.navigation-up .navigation-v3 li h2 {
    margin: 0;
    padding: 0;
    font-weight: 400
}

.navigation-up .navigation-v3 li h2 a {
    display: inline-block;
    padding: 0 25px;
    height: 60px;
    color: #fff;
    font-family: "microsoft yahei"
}

#footer {
    margin-top: 30px;
    color: #111;
    text-align: center
}
